.container {
    max-width: 900px;
}

.control {
    margin: 20px auto;
}

.card {
    height: 200px;
    background-color: rgba(0, 0, 0, .1);
    border: 10px solid #ffffff;
}

.box {
    line-height: 200px;
    color: #514475;
    font-size: 40px;
    height: 100%;
    width: 100%;
    text-align: center;
}

div.images {
    height: 430px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    background-position: center center;
    background-image: url('../static/11.png');
}